* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: beige;
  color: black;
  font-size: 17px;
}

#container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  border: 5px solid red;
  background-color: beige;
  padding: 10px;
}

.celda1, .celda2 {
  background-color: salmon;
  border-radius: 5px;
}

a {
  color: goldenrod;
}
a:hover {
  color: brown;
}
a:visited {
  color: saddlebrown;
}
a:active {
  color: peru;
}

@media (max-width: 768px) {
  #container {
    grid-template-columns: 1fr;
  }

  .celda2 img {
    width: 100%;
    height: auto;
  }

  body {
    font-size: 15px;
  }
}